.restaurant-container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: "Segoe UI", sans-serif;
}

.restaurant-header {
  display: flex;
  gap: 20px;
  margin-bottom: 30px;
}

.restaurant-header img {
  width: 150px;
  border-radius: 12px;
}

.restaurant-info h1 {
  margin-bottom: 4px;
}

.restaurant-meta {
  display: flex;
  gap: 20px;
  font-weight: 600;
}

.menu-category {
  margin-bottom: 30px;
}

.category-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f3eeee;
  border-radius: 8px;
  padding: 0px 5px;
}

.category-header h2 {
  font-size: 20px;
}

.category-header span {
  font-size: 30px;
  font-weight: bold;
}

.menu-category h2 {
  border-bottom: 2px solid #eee;
  padding-bottom: 8px;
  margin-bottom: 15px;
}

.menu-items {
  margin: 5px 2px;
  padding: 0px 3px;
}

.menu-item {
  display: flex;
  justify-content: space-between;
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.item-left {
  width: 65%;
}

.item-left h3 {
  margin-bottom: 4px;
}

.price {
  font-weight: 600;
  margin-bottom: 6px;
}

.desc {
  color: #555;
  font-size: 14px;
}

.offer {
  display: inline-block;
  background: #fae8e3;
  color: #db6742;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 12px;
  margin-top: 6px;
}

.item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.item-right img {
  width: 110px;
  border-radius: 10px;
}

.add-btn {
  margin-top: 8px;
  padding: 6px 16px;
  border-radius: 8px;
  border: 1px solid #60b246;
  background: white;
  color: #60b246;
  font-weight: bold;
  cursor: pointer;
}
